html, body, #root{
  height: 100%;
  /* margin-top: 0; */
  background-color: #94b9af;
  background-image: url('assets/kayak.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  background-color: transparent;
}

.App-header {
  display: flex;
  justify-content: center
}
.title{
  background-color: rgba(0, 109, 86, 0.8);
  width: 80%;
  border-radius: 5px;
}

.buttonRow{
  margin: 1em;
}

h1,h2,.subHeader{
  color: #FCFDFD;
}

h3,h4,p,li{
  color: black;
}

.btn{
  padding: 1em;
  margin: 10px;
  border-radius: 5px;
  background-color: #FCFDFD;
  border-color: #FCFDFD;
  color: black;
}
.btn:hover,.btn:active{
background-color: #94b9af;
color: #FCFDFD;
border-color: #FCFDFD;
text-decoration: none;
}

a, a:hover, a:active, a:visited{
  color: inherit;
}


.container{
  background-color: rgba(148, 185, 175, 0.8);
  width: 80%;
  border-radius: 5px;
  min-height: 30em;

}
.Essay{
  margin: 1em;
  text-align: left;
}

.row{
  display: flex;
  margin-top: 2em;
  flex-wrap: wrap;
}
.column{
  flex: 33.33%;
  padding: 5px;
}

td,th{
  color: black;
  border: solid black 1px;
}

.largeRow{
  width: 45%;
}
.smallRow{
  width: 10%
}