html, body, #root{
  height: 100%;
  /* margin-top: 0; */
  background-color: #94b9af;
  background-image: url('assets/kayak.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}

.App-header {
  background-color: rgba(0, 109, 86, 0.8);
  /* height: 175px; */
  /* width: 100%; */
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 5px;
}

.buttonRow{
  margin: 1em;
}

h1{
  font-family: 'Libre Franklin', sans-serif;
  color: #FCFDFD;
  /* color:black; */
}

h2{
  color: #FCFDFD;
  /* color: black; */
}
h3,h4,p,li{
  color: black;
}

.btn{
  padding: 1em;
  margin: 10px;
  border-radius: 5px;
  background-color: #FCFDFD;
  border-color: #FCFDFD;
  color: black;
}

a{
  color: inherit;
}

.container{
  background-color: rgba(148, 185, 175, 0.8);
  width: 80%;
  border-radius: 5px;
  min-height: 30em;

}
.Essay{
  margin: 1em;
  text-align: left;
}

.row{
  display: flex;
  margin-top: 2em;
}
.column{
  flex: 33.33%;
  padding: 5px;
}

td,th{
  color: black;
  border: solid black 1px;
}

.largeRow{
  width: 45%;
}
.smallRow{
  width: 10%
}